In [84]:
from pandas import *

df_raw: DataFrame = read_excel("data/4050120-FDRep-202305.xlsx", skiprows=6, na_values=[' '])

df_raw

,№,Уровень,Член клуба,Unnamed: 3,Ранг/нД,ЛО,НСО,Max. 3Р,S
0,1,.0,4050120.0,Евсигнеева Наталья Юрьевна,МЗ,100.0,3122.2,МЗ/0,NaN
1,2,.1,4466027.0,Матат Сергей Владимирович,1оМС,127.0,2000.7,М/0,NaN
2,3,.2,4546363.0,Матат Елена Владимировна,оИД,136.0,750.4,ЗД/0,NaN
3,4,.3,4982008.0,Пухальская Алиса Станиславовна,Д,269.8,900.7,СД/17,NaN
4,5,.3,5070606.0,Матат Семен Сергеевич,Д,469.0,923.0,Д/0,NaN
...,...,...,...,...,...,...,...,...,...
412,отсутствие префикса — закрытый ранг,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,НСО — накопительный сетевой объем,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,нД — новый директор,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,— потребитель в ранге Д,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,"ПП (Премиум Потребитель) — это ранг, который п...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
excel2Field = {}
excel2Field["#"] = "rownum"
excel2Field["Number of Generations"] = "gen"
excel2Field["Club Member (First name/Last name)"] = "Id"
excel2Field["Unnamed: 3"] = "Name"
excel2Field["CNV (Cumulated Network Volume)"] = "cnv"
excel2Field["Rank"] = "Rank"
excel2Field["P"] = "Pending"
excel2Field["PV (Personal Volume)"] = "Personal"
excel2Field["PVG"] = "Group"
excel2Field["MCR (Maximum Confirmed Rank)"] = "maxrank"
excel2Field["Number of months with zero Volume Points accrued"] = "zeroMonths"
excel2Field["Club Member Status"] = "status"

excel2Field["№"] = "rownum"
excel2Field["Уровень"] = "gen"
excel2Field["Член клуба"] = "Id"
excel2Field["НСО"] = "cnv"
excel2Field["Ранг/нД"] = "Rank"
excel2Field["P"] = "Pending"
excel2Field["ЛО"] = "Personal"
excel2Field["ЛГО"] = "Group"
excel2Field["Max. 3Р"] = "maxrank"
excel2Field["Number of months with zero Volume Points accrued"] = "zeroMonths"
excel2Field["S"] = "status"

df_renamed = df_raw.rename(columns=excel2Field)
df_renamed.head(30)

,rownum,gen,Id,Name,Rank,Personal,cnv,maxrank,status
0,1,.0,4050120.0,Евсигнеева Наталья Юрьевна,МЗ,100.0,3122.2,МЗ/0,NaN
1,2,.1,4466027.0,Матат Сергей Владимирович,1оМС,127.0,2000.7,М/0,NaN
2,3,.2,4546363.0,Матат Елена Владимировна,оИД,136.0,750.4,ЗД/0,NaN
3,4,.3,4982008.0,Пухальская Алиса Станиславовна,Д,269.8,900.7,СД/17,NaN
4,5,.3,5070606.0,Матат Семен Сергеевич,Д,469.0,923.0,Д/0,NaN
5,6,.3,7260026.0,Матат Севастьян Сергеевич,Д,250.0,879.1,Д/0,NaN
6,7,.3,7374382.0,Buzhinskaya Svetlana,Д,753.1,753.1,Д/0,п
7,8,.2,4552121.0,Кузняк Владимир Иванович,ЗД,113.1,500.0,БД/26,NaN
8,9,.3,4552731.0,Тарасевич Николай Константинович,1о2МС,120.0,1426.4,МС/0,NaN
9,10,.4,4697386.0,Авраменко Дмитрий Сергеевич,Д,50.0,546.1,СД/16,NaN
10,11,.4,4754900.0,Федчук Алексей Викторович,СД,351.0,500.0,СД/0,NaN
11,12,.5,6187283.0,Ткаченко Елена,СД,580.8,831.2,СД/0,NaN
12,13,.6,6632080.0,Stefanik Yevgeniya,СД,NaN,572.3,СД/0,NaN
13,14,.7,7232319.0,Ponomareva Irina,Д,457.8,616.2,Д/0,п
14,15,.4,4803921.0,Snipas Olena,М,115.0,2010.5,М/0,NaN
15,16,.5,4753988.0,Петренко Артур Антонович,Д,60.0,616.9,СД/6,NaN
16,17,.5,4788370.0,Демир Екатерина Геннадиевна,оЗД,339.0,750.9,Д/0,NaN
17,18,.6,7378709.0,Каракаш Виктория,нД,356.0,503.1,Д/0,п
18,19,.6,7380038.0,Хмельов Геннадій Васильович,нД,446.0,750.0,Д/0,п
19,20,.5,4822177.0,Саманева Татьяна Александровна,ИД,116.0,1442.6,БД/14,NaN
20,21,.6,6680615.0,Саманёва Людмила,СД,100.0,656.5,СД/0,NaN
21,22,.7,6916763.0,Шкуратова Евгения,СД,68.1,612.5,ЗД/8,NaN
22,23,.8,6917470.0,Постоева Анна,СД,210.0,781.9,СД/0,NaN
23,24,.9,7355857.0,Любягина Ирина Петровна,Д,115.2,540.0,Д/0,п
24,25,.6,6969651.0,Heinz Andreas,Д,327.6,528.1,Д/0,NaN
25,26,.6,7188445.0,Войтеховская Ната Валерьевна,Д,417.6,575.6,Д/0,NaN
26,27,.5,6502352.0,Brett Olga,Д,131.0,608.4,ИД/16,NaN
27,28,.5,6655592.0,Snipas Evaldas,Д,80.0,500.0,Д/0,NaN
28,29,.5,7150504.0,Александровна Людмила,Д,269.0,506.0,Д/0,п
29,30,.5,7366631.0,Ponomarenko Larysa,нД,273.0,500.0,Д/0,п

In [86]:
df_neededColumns = df_renamed.drop(columns=["rownum", "cnv", "status", "maxrank", "Group"], errors="ignore")
df_neededColumns

KeyError: "['Group'] not found in axis"

In [ ]:
df_noNA = df_neededColumns.dropna(subset=['Id'])
df_noNA.head(20)

,gen,Id,Name,Rank,Pending,Personal,zeroMonths
0,.0,6111685.0,Галюк Елена,E,NaN,100.0,NaN
1,.1,6190205.0,Галюк Дмитрий,D,NaN,NaN,1.0
2,.2,6202838.0,Tabolich Anastasiya,PM,NaN,NaN,12.0
3,.2,6866923.0,Фалавандишвили Натия,PM,NaN,NaN,7.0
4,.3,6959087.0,Мурванидзе Луиза,PM,NaN,7.0,NaN
5,.4,7309266.0,Murvanidze Violeta,NaN,NaN,NaN,3.0
6,.3,7575828.0,Фалавандишвили Тинатин Тимуровна,NaN,NaN,NaN,7.0
7,.2,7688719.0,Konidala Anna,PM,NaN,NaN,1.0
8,.2,7791032.0,Shaposhnikov Mikhail,NaN,NaN,NaN,2.0
9,.2,7805120.0,Галюк Елена Николаевна,NaN,NaN,NaN,1.0
10,.2,7834868.0,Malyshava Katsiaryna,M,NaN,NaN,1.0
11,.1,6190820.0,Синица Тома,PM,NaN,21.5,NaN
12,.1,6203900.0,Галюк Варя,A,NaN,43.5,NaN
13,.2,6556807.0,Шидловская Анджела Григорьевна,PM,NaN,11.0,NaN
14,.3,6673758.0,Вабищевич Анна,PM,NaN,NaN,2.0
15,.4,6684011.0,Дедович Тамара,NaN,NaN,NaN,5.0
16,.4,6782839.0,Вабищевич Владимир Петрович,M,NaN,NaN,1.0
17,.4,6801396.0,Вабищевич Мирослав Владимирович,NaN,NaN,NaN,7.0
18,.4,6842229.0,Будник Светлана Александровна,NaN,NaN,NaN,6.0
19,.4,7254343.0,Федосенко Екатерина,NaN,NaN,NaN,4.0

In [ ]:
df_recast = df_noNA.convert_dtypes(convert_floating=True, convert_integer=True)
df_recast["Personal"].astype(float)
df_recast["Id"].astype(int)
df_recast

,gen,Id,Name,Rank,Pending,Personal,zeroMonths
0,.0,6111685,Галюк Елена,E,<NA>,100.0,<NA>
1,.1,6190205,Галюк Дмитрий,D,<NA>,<NA>,1
2,.2,6202838,Tabolich Anastasiya,PM,<NA>,<NA>,12
3,.2,6866923,Фалавандишвили Натия,PM,<NA>,<NA>,7
4,.3,6959087,Мурванидзе Луиза,PM,<NA>,7.0,<NA>
...,...,...,...,...,...,...,...
723,.1,7625037,Зоидзе Светлана,<NA>,<NA>,<NA>,4
724,.1,7634313,Rodionova Elena,<NA>,<NA>,<NA>,2
725,.1,7659464,Каитамба Раули,M,<NA>,<NA>,1
726,.1,7742962,Павлова Ирина,PM,<NA>,<NA>,2
727,.1,7821743,Lohvynenko Olha,<NA>,<NA>,68.0,<NA>

In [ ]:
df_gen = df_recast
df_gen.gen = df_gen.gen.apply(lambda x: int(str(x).split(".")[-1]) )
df_gen

     gen       Id                  Name  Rank  Pending  Personal  zeroMonths
0      0  6111685           Галюк Елена     E     <NA>     100.0        <NA>
1      1  6190205         Галюк Дмитрий     D     <NA>      <NA>           1
2      2  6202838   Tabolich Anastasiya    PM     <NA>      <NA>          12
3      2  6866923  Фалавандишвили Натия    PM     <NA>      <NA>           7
4      3  6959087      Мурванидзе Луиза    PM     <NA>       7.0        <NA>
..   ...      ...                   ...   ...      ...       ...         ...
723    1  7625037       Зоидзе Светлана  <NA>     <NA>      <NA>           4
724    1  7634313       Rodionova Elena  <NA>     <NA>      <NA>           2
725    1  7659464        Каитамба Раули     M     <NA>      <NA>           1
726    1  7742962         Павлова Ирина    PM     <NA>      <NA>           2
727    1  7821743       Lohvynenko Olha  <NA>     <NA>      68.0        <NA>

[728 rows x 7 columns]

In [ ]:
levelId = {}
def id_gen_2_parent(id, gen) -> int:
    levelId[gen] = id
    return levelId[gen-1] if gen > 0 else -1

if "ParentId" not in df_gen.columns:
    df_gen.insert(loc=3, column="ParentId", value=df_gen.apply(lambda x: id_gen_2_parent(x.Id, x.gen), axis=1))
    df_gen.ParentId = df_gen.ParentId.astype(int)

df_gen

,gen,Id,Name,ParentId,Rank,Pending,Personal,zeroMonths
0,0,6111685,Галюк Елена,-1,E,<NA>,100.0,<NA>
1,1,6190205,Галюк Дмитрий,6111685,D,<NA>,<NA>,1
2,2,6202838,Tabolich Anastasiya,6190205,PM,<NA>,<NA>,12
3,2,6866923,Фалавандишвили Натия,6190205,PM,<NA>,<NA>,7
4,3,6959087,Мурванидзе Луиза,6866923,PM,<NA>,7.0,<NA>
...,...,...,...,...,...,...,...,...
723,1,7625037,Зоидзе Светлана,6111685,<NA>,<NA>,<NA>,4
724,1,7634313,Rodionova Elena,6111685,<NA>,<NA>,<NA>,2
725,1,7659464,Каитамба Раули,6111685,M,<NA>,<NA>,1
726,1,7742962,Павлова Ирина,6111685,PM,<NA>,<NA>,2
727,1,7821743,Lohvynenko Olha,6111685,<NA>,<NA>,68.0,<NA>

In [ ]:
members = {}
parents = {}

def calculate_overallstructure_total(id):
    member = members[id]
    member["Overall"] += member["Personal"] or 0
    if id in parents:
        children = [c for c in members.values() if c["ParentId"] == member["Id"]]
        for c in children:
            member["Overall"] += calculate_overallstructure_total(c["Id"])
    return member["Overall"]

df_gen["Overall"] = 0
d = df_gen.to_dict(orient="index")
members = {r["Id"] : r for r in d.values()}
parents = {r["ParentId"] : r["Id"] for r in d.values()}
calculate_overallstructure_total(parents[-1])
memberOverall = {x["Id"]: x["Overall"] for x in members.values()}
df_gen["Overall"] = df_gen["Id"].map(memberOverall)

In [ ]:
df_gen.head(50)

,gen,Id,Name,ParentId,Rank,Pending,Personal,zeroMonths,Overall
0,0,6111685,Галюк Елена,-1,E,<NA>,100.0,<NA>,12884.7
1,1,6190205,Галюк Дмитрий,6111685,D,<NA>,<NA>,1,7.0
2,2,6202838,Tabolich Anastasiya,6190205,PM,<NA>,<NA>,12,0.0
3,2,6866923,Фалавандишвили Натия,6190205,PM,<NA>,<NA>,7,7.0
4,3,6959087,Мурванидзе Луиза,6866923,PM,<NA>,7.0,<NA>,7.0
5,4,7309266,Murvanidze Violeta,6959087,<NA>,<NA>,<NA>,3,0.0
6,3,7575828,Фалавандишвили Тинатин Тимуровна,6866923,<NA>,<NA>,<NA>,7,0.0
7,2,7688719,Konidala Anna,6190205,PM,<NA>,<NA>,1,0.0
8,2,7791032,Shaposhnikov Mikhail,6190205,<NA>,<NA>,<NA>,2,0.0
9,2,7805120,Галюк Елена Николаевна,6190205,<NA>,<NA>,<NA>,1,0.0
10,2,7834868,Malyshava Katsiaryna,6190205,M,<NA>,<NA>,1,0.0
11,1,6190820,Синица Тома,6111685,PM,<NA>,21.5,<NA>,21.5
12,1,6203900,Галюк Варя,6111685,A,<NA>,43.5,<NA>,234.2
13,2,6556807,Шидловская Анджела Григорьевна,6203900,PM,<NA>,11.0,<NA>,59.0
14,3,6673758,Вабищевич Анна,6556807,PM,<NA>,<NA>,2,0.0
15,4,6684011,Дедович Тамара,6673758,<NA>,<NA>,<NA>,5,0.0
16,4,6782839,Вабищевич Владимир Петрович,6673758,M,<NA>,<NA>,1,0.0
17,4,6801396,Вабищевич Мирослав Владимирович,6673758,<NA>,<NA>,<NA>,7,0.0
18,4,6842229,Будник Светлана Александровна,6673758,<NA>,<NA>,<NA>,6,0.0
19,4,7254343,Федосенко Екатерина,6673758,<NA>,<NA>,<NA>,4,0.0
20,3,6679651,Нестер Христина,6556807,PM,<NA>,33.0,<NA>,33.0
21,3,6702054,Вечерова Наталья,6556807,<NA>,<NA>,9.0,<NA>,9.0
22,3,6702224,Нестер Яна,6556807,PM,<NA>,6.0,<NA>,6.0
23,2,7187692,Коровкина Александра Михайловна,6203900,<NA>,<NA>,<NA>,6,0.0
24,2,7310915,Фролова Евгения,6203900,PM,<NA>,19.2,<NA>,131.7
25,3,7322535,Мадатова Дина,7310915,<NA>,<NA>,<NA>,8,0.0
26,3,7338482,Фролова Мелисса,7310915,PM,<NA>,10.5,<NA>,57.5
27,4,7439339,Грищенко Елена,7338482,<NA>,<NA>,<NA>,8,0.0
28,4,7449946,Назарова Наталия,7338482,<NA>,<NA>,<NA>,10,0.0
29,4,7456980,Kosiakova Ekaterina,7338482,M,<NA>,<NA>,1,47.0
30,5,7843365,Шакирьянов Артур Рафикович,7456980,<NA>,<NA>,47.0,<NA>,47.0
31,3,7436554,Терехина Екатерина Максимовна,7310915,<NA>,<NA>,<NA>,11,0.0
32,4,7437494,Акудович Антонина Сергеевна,7436554,<NA>,<NA>,<NA>,11,0.0
33,4,7526797,Mikhailova Nadezhda,7436554,<NA>,<NA>,<NA>,8,0.0
34,3,7536391,Minjaeva Olesya,7310915,<NA>,<NA>,<NA>,8,0.0
35,3,7554677,Makeenkova Anna,7310915,<NA>,<NA>,<NA>,7,0.0
36,3,7577949,Astrouskaya Yuliya,7310915,<NA>,<NA>,<NA>,6,0.0
37,3,7596790,Frolov Dmitry,7310915,<NA>,<NA>,<NA>,6,0.0
38,3,7833492,Lyashkevich Sofiya,7310915,<NA>,<NA>,<NA>,1,0.0
39,3,7864524,Rasulova Natia,7310915,<NA>,<NA>,55.0,<NA>,55.0
40,1,6204299,Галюк Надя,6111685,A,<NA>,<NA>,1,41.0
41,2,6217050,Шинкевич Валентина,6204299,PM,<NA>,<NA>,1,41.0
42,3,6218172,Шинкевич Андрей,6217050,PM,<NA>,41.0,<NA>,41.0
43,4,6315386,Михайлова Мария,6218172,PM,<NA>,<NA>,1,0.0
44,4,6316880,Шинкевич Яна,6218172,PM,<NA>,<NA>,6,0.0
45,4,7049806,Воронович Юлия Валерьевна,6218172,PM,<NA>,<NA>,1,0.0
46,2,6742267,Свирид Ирина Михайловна,6204299,<NA>,<NA>,<NA>,12,0.0
47,2,6827084,Станкевич Оксана,6204299,<NA>,<NA>,<NA>,12,0.0
48,1,6300800,Баризоне Ольга Алексеевна,6111685,DD,25.0,50.0,<NA>,4947.3
49,2,6361665,Баризоне Серджо,6300800,PM,<NA>,<NA>,2,715.8